* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

}

div {
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-family: calibri;

}
.header{
	background-color: #60aa49;
	padding: 20px;
	border-radius: 4px;
}

p {
	padding-bottom: 20px;
}
.group {
	display: inline-block;
	color: gray;
	background-color: #eaeaed;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	border-radius: 4px;
}


.main {
	background-color: #60aa49;
	width: 75%;
	padding: 20px;
	margin-left: 5px;
	float: left;
	border-radius: 4px;
}

.sidebar{
	background-color: #60aa49;
	width: 20%;
	padding: 20px;
	float: right;
	border-radius: 4px;
}

.footer {
		background-color: #60aa49;
		width: 100%;
		clear: both;
		padding: 20px;
		border-radius: 4px;
}