@import url(http://fonts.googleapis.com/css?family=Rokkitt|Varela+Round);

* {   
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/coverimage.jpg);
    background-position: 0% 25% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 650px;
    padding-top: 0em;
}
.nav {
	float: right;
	margin-top: 0em;
	margin-bottom: 0em;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: blue;
}
#navlist li {
	display: inline;
	padding: 5px;
}

h1 {
	font-size: 60px;
	margin-top: 0em;
	margin-bottom: 0em;
}
.header {

	font-family: 'Rokkitt', serif;
	padding: 50px;
	margin-bottom: 10px;
}
h4 {
	margin-bottom:0em;
	margin-top: 0em;
	font-family: 'Rokkitt', serif;
}

li {
	list-style-type: none;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	margin-top: 0em;

}
span {
  	display: inline-block;
}
.col-xs-6 {
	padding-top: 200px;
	position: relative;
	width: 400px;
}
.row {
  	display: inline-block;
}
.rsvp {
	background-color: purple;
}
.social {
	background-color: yellow;
}
.sponsor {
	background-color: gray;
}
